 <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>About</h2>
                        <hr class="star-light">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <p>PIRACY este o organizatie care își propune să aducă gaming-ul în lumina reflectoarelor în viața socială din Cluj.</p>
                    </div>
                    <div class="col-lg-4">
                        <p>În curând PIRACY va prezenta primul proiect propriu, o cupă de Hearthstone pentru toți cei interesați. Mai multe detalii vor urma pe viitor!</p>
                  
                    </div>
                    
                </div>
            </div>