     <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Contact Us</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        
                                <form novalidate class="simple-form">
                                    
                                    
                                    <label >Name:</label>
                                    <input type="text"  class="form-control" ng-model="contact.name"  placeholder="Enter name...">
                                    
                                    <label >Email address:</label>
                                    <input type="email" class="form-control" ng-model="contact.email"  placeholder="Enter email...">
                                      <label >Phone:</label>
                                    <input type="text"  class="form-control" ng-model="contact.phone"  placeholder="Enter phone...">
                                    <label >Message:</label>
                                    <input type="text"  class="form-control" ng-model="contact.msg"   placeholder="Enter Message...">
                                    <button ng-click="update(contact)" data-dismiss="modal" class="btn btn-info" >Send</button>
                                    
                                    
                                </form>
                    </div>
                </div>
            </div>