<div class="footer-above">
    <div class="container">
        <div class="row">
            <div class="footer-col col-sm-4">
                <h3 style="margin:10px;">Locatie</h3>
                <p>Va urma...<br>Cluj-Napoca, Cluj</p>
            </div>
            <div class="footer-col col-sm-4">
                <h3 style="margin:10px;">PIRACY pe web</h3>
                <ul class="list-inline">
                    <li>
                        <a href="#" class="btn-social btn-outline" style="margin:0px;"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline" style="margin:0px;"><i class="fa fa-fw fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="#" class="btn-social btn-outline" style="margin:0px;"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    
                    
                </ul>
            </div>
            <div class="footer-col col-sm-4">
                <h3  style="margin:10px;">Game on!</h3>
                <p style="margin-top:30px;">Până la următoare detalii, spor la joc!</p>
            </div>
        </div>
    </div>
</div>
<div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Copyright &copy; Piracy 2016
            </div>
        </div>
    </div>
</div>